<div ng-controller="MapCtrl as vm">
  Auto Complete Type:
  <select ng-model="vm.types">
    <option value="['geocode']">Geodode</option>
    <option value="['establishment']">Establishment</option>
    <option value="['address']">Address</option>
  </select>

  <br/>

  Enter an address: <br/>
  <input places-auto-complete size=80 placeholder="Pickup"
         ng-model="vm.address"
         component-restrictions="{country:'ee'}"
         types="{{types}}"
         on-place-changed="vm.placeChanged()"/> <br/>

  <input places-auto-complete size=80 placeholder="Destination"
         ng-model="vm.address"
         component-restrictions="{country:'ee'}"
         types="{{types}}"
         on-place-changed="vm.placeChanged()"/> <br/>

  <div ng-show="vm.place">
    Address = {{vm.place.formatted_address}} <br/>
    Location: {{vm.place.geometry.location}}<br/>
  </div>
  address : {{vm.address}}
  <map center='current-position'
          geo-fallback-center="[40.74, -74.18]"
          geo-callback="vm.callbackFunc('you')">
    <marker position=“{{vm.place.geometry.location}}” />
    <directions
      draggable="true"
      panel="directions-panel"
      travel-mode="DRIVING"
      origin="Tartu"
      destination="tallinn">
    </directions>
  </map>
</div>


