<div ng-controller="MapCtrl as vm">

  Enter pickup address: <br/>
  <input places-auto-complete size=80 placeholder="Pickup"
         ng-model="vm.pickupAddress"
         component-restrictions="{country:'ee'}"
         on-place-changed="vm.pickupPlaceChanged()"/> <br/>
  <br>
  Enter destination address: <br/>
  <input places-auto-complete size=80 placeholder="Destination"
         ng-model="vm.destinationAaddress"
         component-restrictions="{country:'ee'}"
         on-place-changed="vm.destinationPlaceChanged()"/> <br/>
  <br>
  <br>
  <div ng-show="vm.pickupPlace">
    Pickup Address = {{vm.pickupPlace.formatted_address}} <br/>
    Pickup Location: {{vm.pickupPlace.geometry.location}}<br/>
  </div>
  Pickup address : {{vm.pickupAddress}}
  <br>
  <br>

  <div ng-show="vm.destinationPlace">
    Destination Address = {{vm.destinationPlace.formatted_address}} <br/>
    Destination Location: {{vm.destinationPlace.geometry.location}}<br/>
  </div>

  <div ng-show="vm.distanse">
    Destination Address = {{vm.distance}} <br/>
    Destination Location: {{vm.distance}}<br/>
  </div>


  <map center='current-position'
       geo-fallback-center="[40.74, -74.18]"
       geo-callback="vm.callbackFunc('you')">

    <directions
      draggable="false"
      panel="directions-panel"
      travel-mode="DRIVING"
      origin="{{vm.pickupPlace.geometry.location}}"
      destination="{{vm.destinationPlace.geometry.location}}">
    </directions>

  </map>
</div>


