<div ng-controller="OrderCtrl as vm">

  <form>
    <div class="form-group">
      <label for="pickupLocation">Pickup Location</label>
      <input type="text"
             class="form-control"
             id="pickupLocation"
             required
             placeholder="Enter pickup location"
             size=80
             places-auto-complete
             ng-model="vm.pickupAddress"
             component-restrictions="{country:'ee'}"
             on-place-changed="vm.pickupPlaceChanged()"/>
    </div>

    <div class="form-group">
      <label for="destinationLocation">Destination Location</label>
      <input type="text"
             class="form-control"
             id="destinationLocation"
             placeholder="Enter destination location"
             size=80
             places-auto-complete
             ng-model="vm.destinationAddress"
             component-restrictions="{country:'ee'}"
             on-place-changed="vm.destinationPlaceChanged()"/>
    </div>

    <input type="submit" class="btn btn-default" ng-click="vm.submit()" value="Request Taxi"/>
  </form>

  <br>

  <div ng-show="vm.distance">
    Distance:{{vm.distance}}
  </div>

  <div ng-show="vm.duration">
    Average time of travel: {{vm.duration}}
  </div>
  <br>

  <map center='current-position'
       geo-fallback-center="[40.74, -74.18]"
       geo-callback="vm.onCurrentLocationDetected('you')">

    <!-- Static Direction for demonstrating ngMap directive -->
    <directions
      draggable="false"
      panel="directions-panel"
      travel-mode="DRIVING"
      origin="{{vm.pickupLocation}}"
      destination="{{vm.destinationLocation}}">
    </directions>

  </map>

</div>


